html{
    background-color: black;
}
div{
    width: 50%;
    margin-left: 25%;
}
p,h1{
    color: white;
    margin: 0px;
    text-align: center;
}
h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
img{
    width: 100%;
    border: 5px solid white;
}